asgiref==
certifi==
cffi==
charset-normalizer==
cryptography==
Django==
django-cors-headers==
django-encrypted-model-fields==
django-filter==
djangorestframework==
djangorestframework-simplejwt==
drf-yasg==
et-xmlfile==
idna==
gunicorn
inflection==
numpy==
openpyxl==
packaging==
pandas==
psycopg2==
psycopg2-binary==
pycparser==
PyJWT==
python-dateutil==
pytz==
PyYAML==
requests==
six==
sqlparse==
tzdata==
uritemplate==
urllib3==
